{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AD cart</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% block header%}
    {% include 'header.html' %}
    {% endblock header %}

    {% block content1 %}
    {% endblock content1 %}
    
    {%   block content %}
    {% endblock content %}

    <!-- Footer -->
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock footer %}

</body>

</html>

    <!-- javascript 

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

    {% block extra_scripts %}

    {% endblock extra_scripts %} -->